NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=postgres

JWT_SECRET=sua_chave_secreta_jwt_muito_segura_aqui
JWT_EXPIRES_IN=7d

UPLOAD_DIR=pasta
MAX_FILE_SIZE=5242880

ADMIN_EMAIL=exemplo@exemplo.com
ADMIN_PASSWORD=exemplo
ADMIN_NAME=Administrador
